services:
  - type: web
    name: nlp-mindmaster3
    env: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: true
      - key: APP_URL
        fromService:
          name: nlp-mindmaster3
          type: web
          property: host
    autoDeploy: true
